.deleltebutton {
    background: red;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

.updatebutton {
    background: green;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
    
}

.ModelCard{
    border-radius: 30px;
    box-shadow: 12px 12px 22px rgba(187, 187, 187, 0.859);
   
    transition: all .5s  ;
   
}

.ModelCard:hover{
    transform: scale(1.015);
    background: white;
    box-shadow: 12px 12px 22px rgb(123, 123, 123);
}